@import 'tailwindcss';

:root {
  scroll-behavior: smooth;

  /* Colors */

  --background: #f5f5f5;
  --color-highlight: #ff4040;

  /* Button Colors */
  --color-button-red: #c80d0d;
  --color-button-highlight: #ff4040;
  --color-button-white: #ffffff;
  --color-button-yellow: #ffd000;
  --color-button-black: #000000;
  --color-button-transparent: rgba(255, 255, 255, 0);

  /* only used for the navigation hover effect */

  --background-burger: rgb(237, 233, 233);

  /* Font Sizes */

  --size-forty: 40px;
}

body {
  background: var(--background);
  font-family: var(--font-roboto-sans);
  overflow-x: hidden;
}

@theme inline {
  /*-- TYPOGRAPHY --*/

  /* Hero Title */
  --text-h1-base: clamp(7rem, 32vw, 12rem);
  --text-h1-lg: clamp(10rem, 13dvw, 12rem);
  --text-h1-zone-base: clamp(8rem, 32vw, 13rem);
  --text-h1-zone-lg: clamp(11rem, 14vw, 13rem);

  /* Coordinates */
  --text-coordinates-base: clamp(0.73rem, 3svw, 1.19rem);
  --text-coordinates-lg: clamp(1rem, 1.28svw, 1.19rem);

  /* Tagline */
  --text-tagline: clamp(30px, 8vw, 40px);

  /* H2 */
  --text-h2: clamp(4rem, 9.5vw, 9rem);

  /* Quote */
  --text-quote: clamp(0.9rem, 2vw, 1.125rem);

  --size-forty: var(--size-forty);

  /*-- SPACING --*/

  /* Gap */
  --gap-xs: 12px;
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 32px;

  /* Responsive Gap */
  --gap-hero-main: 10svh;
  --gap-hero-section: 5svh;

  /* Margin */
  --spacing-mt-sm: 64px;

  /* Section Spacing Y*/
  --space-section-sysm: 48px;
  --space-section-symd: 64px;
  --space-section-sylg: 80px;

  /*Padding X*/
  --spacing-xsm: 20px;
  --spacing-xmd: 40px;
  --spacing-xlg: 60px;

  /*-- SIZES --*/

  /*Width*/

  /*Height*/
  /*Gallery*/
  --height-gallery-base: 70vh;
  --height-gallery-lg: 80vh;
  --height-gallery-min: 474px;
  --height-gallery-min-lg: 594px;

  /*-- FONT STYLES --*/
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --font-sofia: var(--font-sofia-sans-extra-condensed);
  --font-anton: var(--font-anton);

  /*-- COLORS --*/

  /*Overlay */
  --color-overlay-hero: rgba(0, 0, 0, 0.15);
  --color-overlay-hero-button: rgba(85, 83, 83, 0.2);
  --color-overlay-button: rgba(119, 116, 116, 0.03);

  /*Background */
  --color-background: #f5f5f5;
  --color-background-burger: rgb(237, 233, 233);

  /*Text colors*/
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-highlight: var(--color-highlight);

  /*Button Colors*/
  --color-button-red: var(--color-button-red);
  --color-button-white: var(--color-button-white);
  --color-button-yellow: var(--color-button-yellow);
  --color-button-black: var(--color-button-black);
  --color-button-transparent: var(--color-button-transparent);

  /*Breakpoints*/
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1180px;
}

@layer utilities {
  .bg-stripes-yellow {
    background-image: repeating-linear-gradient(
      135deg,
      var(--color-button-yellow),
      var(--color-button-yellow) 3px,
      var(--color-button-transparent) 3px,
      var(--color-button-transparent) 6px
    );
  }
  .bg-stripes-red {
    background-image: repeating-linear-gradient(
      135deg,
      var(--color-button-highlight),
      var(--color-button-highlight) 3px,
      var(--color-button-transparent) 3px,
      var(--color-button-transparent) 6px
    );
  }
  .bg-stripes-black {
    background-image: repeating-linear-gradient(
      135deg,
      var(--color-button-black),
      var(--color-button-black) 3px,
      var(--color-button-transparent) 3px,
      var(--color-button-transparent) 6px
    );
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --color-primary: #ffffff;
    --color-secondary: #000000;
    --color-highlight: #ff4040;
  }
} */

.column {
  @apply flex flex-col;
}

.gutter {
  @apply px-xsm md:px-xmd lg:px-xlg;
}

@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}

.turn {
  animation: turn linear both;
  animation-timeline: view();
  transform-origin: center;
  transform-box: fill-box;
}

.nav-img-preview {
  position: absolute;
  top: 50%;
  width: 100px;
  height: auto;
  transform: translateY(-50%) translateX(130%);
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.group:hover .nav-img-preview {
  opacity: 1;
}
